# Node.js
# node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
node_modules/
# React Native
echo "PineverseChatApp.zip"

.expo/
.expo-shared/
web-build/
dist/
.tmp/

# Metro bundler cache
.expo/
.expo-shared/
.expo3/
.expo2/
.expo/
.expo-shared/
.expo/

# Logs
*.log
*.log.*
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/.settings/
android/build/
android/gradle/
android/captures/
android/.gradletasknamecache
android/.cxx/

ios/build/
ios/Pods/
ios/DerivedData/
ios/.idea/
ios/.xcworkspace
ios/*.xcuserstate


# Mac / Xcode junk
*.xcuserstate
*.xcworkspace
*.xcuserdatad
*.DS_Store

# IDEs
.vscode/
.idea/
*.iml

# Bundle output
*.bundle
*.map

# Misc
.env
.env.local
.env.*.local
# Firebase credentials
utils/serviceAccountKey.json
config/chatapp-2a76c-firebase-adminsdk-fbsvc-caf80ecfc7.json

